*
!src/
!src/*
!2018/*
!2018/assets/
!2018/assets/dist/
!2018/assets/dist/*
!2018/sponsors/*
!.gitignore
!LICENSE
!README.md
!webpack.config.js
!package.json
!.travis.yml
!CNAME
!manifest.json
!sitemap.xml