$text: #fff;
$primary: #0bb69b;
$primary_lighter: #fcae17;
$secondary: #f03f37;
$compliment: #0bb69b;
$none: #fff;

$presenting: linear-gradient(45deg, #0bffe8, #16d0b64a);;
$presentingHover:  #325247;
$platinum: linear-gradient(45deg, #a065ff, transparent);;
$platinumHover: #4e4154;
$gold: linear-gradient(45deg, #e7ea24, transparent);;
$goldHover: linear-gradient(45deg, #2b2806, transparent);;
$silver: linear-gradient(45deg, #c1c0b6, transparent);
$silverHover: #63636396;
$bronze: transparent;
$bronzeHover: #b7852142;

.primary {
  background-color: $primary;
}

.primary-lighter {
  background-color: $primary_lighter;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%)
  }
}

.secondary {
  background-color: $secondary;
}

.btn-secondary {
  background-color: $secondary;
  &:hover {
    background-color: darken($secondary, 10%)
  }
}

.btn-compliment-clear {
  &:hover {
    background-color: $compliment;
  }
}

.compliment {
  background-color: $compliment;
}

.none {
  background-color: $none;
}

.presenting {
  background: $presenting !important;
  &:hover {
    background-color: $presentingHover !important;
  }
}

.platinum {
  background: $platinum !important;
  &:hover {
    background-color: $platinumHover !important;
  }
}

.gold {
  background: $gold !important;
  .img {
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
  }
  &:hover {
    background-color: $goldHover !important;
  }
}

.silver {
  background: $silver !important;
  color: #000;
  text-shadow: none !important;
  &:hover {
    color: #f3f3f3;
    background-color: $silverHover !important;
  }
}

.bronze {
  background: $bronze;
  &:hover {
    background-color: $bronzeHover;
  }
}