$text: #fff;
$primary: #0bb69b;
$primary_lighter: #fcae17;
$secondary: #f03f37;
$compliment: #0bb69b;
$none: #fff;
$poster: #4f8c59;

.primary {
  background-color: $primary;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%)
  }
}

.secondary {
  background-color: $secondary;
}

.btn-secondary {
  background-color: $secondary;
  &:hover {
    background-color: darken($secondary, 10%)
  }
}

.btn-compliment-clear {
  &:hover {
    background-color: $compliment;
  }
}

.compliment {
  background-color: $compliment;
}

.none {
  background-color: $none;
}

.poster {
  background-color: $poster;
}
