$text: #fff;
$primary: #0bb69b;
$primary_lighter: #fcae17;
$secondary: #f03f37;
$compliment: #0bb69b;
$none: #fff;
$poster: #4f8c59;

.primary {
  background-color: $primary;
}

.primary-lighter {
  background-color: $primary_lighter;
}

.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%)
  }
}

.secondary {
  background-color: $secondary;
}

.btn-secondary {
  background-color: $secondary;
  &:hover {
    background-color: darken($secondary, 10%)
  }
}

.btn-compliment-clear {
  &:hover {
    background-color: $compliment;
  }
}

.compliment {
  background-color: $compliment;
}

.none {
  background-color: $none;
}

.poster {
  background-color: $poster;
}

.presenting {
  background-color: rgba(71,255,193,0.9) !important;
  &:hover {
    background-color: #325247 !important;
  }
}

.platinum {
  background-color: rgba(173,136,191,0.9) !important;
  &:hover {
    background-color: #4e4154 !important;
  }
}

.gold {
  background-color: rgba(255,215,0,0.9) !important;
  .img {
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
  }
  &:hover {
    background-color: #5d5101 !important;
  }
}

.silver {
  background-color: rgba(203,207,210,0.9) !important;
  color: #000;
  text-shadow: none !important;
  &:hover {
    color: #f3f3f3;
    background-color: #636363 !important;
  }
}

.bronze {
  background-color: rgba(252,174,22,0.9);
  &:hover {
    background-color: #523d13;
  }
}