.logo {
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}

.plain-logo {
  background: url('../images/logo.svg') no-repeat center;
  background-size: contain;
}

.bg {
  background: url('../images/people.svg') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.lady {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url('../images/bands/lady.jpg') no-repeat center;
  background-position-y: 25%;
  background-size: cover;

  .shim {
    background-color: #017679;
    opacity: 0.5;
    height: 100%;
    width: 100%;
  }
}

.hiss {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url('../images/bands/hiss.jpg') no-repeat center;
  background-size: cover;

  .shim {
    background-color: #017679;
    opacity: 0.5;
    height: 100%;
    width: 100%;
  }
}


.lady-logo {
  background: url('../images/bands/lady-text-logo.png') no-repeat center;
  background-size: contain;
  width: 300px;
}

.hiss-logo {
  background: url('../images/bands/hiss-text-logo.png') no-repeat center;
  background-size: contain;
  width: 300px;

}
