nav {
  position: absolute;
  display: block;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1000;
  bottom: 20px;
  max-height: 200px;

  .nav-bar {
    margin-top: 20px;
    height: 100px;
    width: 100%;

    .info {
      text-align: center;
      font-family: 'Ostrich Sans', 'Oswald', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
      font-size: 3em;
      padding: 20px;

      span {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    ul {
      list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
      list-style: none;

      li {
        display: inline-block;

        a {
          padding: 20px;
          color: #fff;
          text-decoration: none;

          &:hover {
            background-color: $primary;
          }

          &.active {
            border: 2px solid #fff;
          }
        }
      }

    }

    .left-logo {
      margin: 0;
      padding: 0;
      float: left;
      max-width: 50%;

      img {
        min-height: 100px;
        width: 75%;
      }

      .oak-fest {
        img {
          padding-top: 4px;
          width: 110px;
        }

      }

      li {

      }

      .oak-fest {
        display: none;
      }
    }

    .buttons {
      text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
      float: right;
      margin: 40px;

      li {
        margin-left: 5px;
      }
    }
  }

  .nav-logo {
    .logo {
      display: inline-block;
      width: 200px;
      height: 200px;
    }

    position: absolute;
    text-align: center;
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &.collapsed {
    height: 100px;
    position: fixed;
    top: 0;
    bottom: unset;

    .nav-logo {
      display: none;
    }

    .left-logo {
      .info {
        display: none;
      }

      .oak-fest {
        display: inline-block;
      }
    }

    .nav-bar {
      margin-top: 0;
    }
  }
}

.btn {
  padding: 20px;
  color: #fff;
  text-decoration: none;

  &.active {
    border: 2px solid #fff;
  }
}

.internal nav {
  bottom: unset;
  top: 20px;
}

@media screen and (max-width: 1250px) {
  .nav-bar {
    .info {
      font-size: 2em !important;
      padding: 30px !important;

      span {
        padding: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hide-sm {
    display: none;
  }
  .collapsed {
    .hide-sm {
      display: block;
    }

    .left-logo {
      .oak-fest {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .wbw-sign {
    display: none;
  }
  .nav-bar {
    .info {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .internal .collapsed .active {
    display: none;
  }

  .hide-xs {
    display: none !important;
  }
  .buttons {
    margin: 40px 5px 40px 40px !important;
    display: block;
    a {
      padding: 10px !important;
    }
  }
  .collapsed {
    .buttons {
      margin: 40px !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .collapsed {
    .left-logo {
      .oak-fest {
        display: none !important;
      }
    }

    .buttons {
      display: block;
      padding-left: 0;

      a {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}