#spotlights {
  position: absolute;
  height: 30%;
  bottom:0;
  left:0;
  width:100%;

  div {
    background-color: #ce523f;
    width: 100%;
    position: absolute;
    opacity: 0.9;
    height:100%;
  }

  .one {
    clip-path: polygon(0 0, 100% 75%, 100% 100%, 0% 100%);
    top: 50px;
    left:0;

  }

  .two {
    clip-path: polygon(0 75%, 100% 0%, 100% 100%, 0% 100%);
    right:0;
    top:0;
  }
}

#about {
  text-align: center;
  h1 {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
