@import '_colors.scss';
@import '_nav.scss';
@import '_images.scss';
@import '_spotlights.scss';

body, html {
  font-family: sans-serif;
  background-color: $secondary;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  color: $text;
}

body {
  overflow-x: hidden;
}

section, footer {
  position: relative;
  display: block;
  padding: 50px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.band {
  height: 400px;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;

  &:hover {
    .shim {
      opacity: 0;
    }
    .logo {
      width: 300px !important;
    }
  }

  .logo {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.jumbo {
  height: 100%;
  min-height: 600px;
  padding: 0;

  .yelling {
    width: 500px;
    height: 500px;
    padding-top: 200px;
    margin: auto;

    span {
      text-transform: uppercase;
      text-align: justify;
      margin: 5px;
      width: 100%;
      display: block;
      font-size: 2em;
    }

    .day {
      font-size: 5em;
      letter-spacing: 10px;
    }

    .date {
      font-size: 3em;
      letter-spacing: 10px;
    }

    .pattys {
      letter-spacing: 15px;
    }

    .info {
      font-size: 1em;
      letter-spacing: 2px;
      text-align: center;
      div {
        display: inline-block;
      }
      .tickets {
        display: none;
      }
    }
  }

}

#about {
  text-align: center;
  h1 {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.about-content {
  padding-top: 0;
}

#map {
  width: 100%;
  height: 100%;
}

#venue {
  height: 500px;
  padding: 0 !important;
}

footer {
  white-space: nowrap;
  .col {
    display: inline-block;
    height: 200px;
  }
  .one {
    width: 25%;
  }

  .two {
    width: 50%;
  }

  .three {
    width: 25%;
  }
}

@media screen and (min-width: 800px) {
  .about-content {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media screen and (max-width: 800px) {
  .jumbo {
    padding-top: 20px;

    .yelling {
      font-size: 1em;
      width: 100%;
      text-align: center;
      span {
        text-align: center !important;
      }
      .day {
        font-size: 2em;
      }
      .date {
        font-size: 1em;
      }
      .pattys {
        letter-spacing: 8px;
      }
      .info {
        div {
          display: block;
        }
        .tickets {
          display: block;
          margin-top: 50px;
          width: 100%;
        }
      }
    }
  }
  footer {
    white-space: normal;
    text-align: center;
    .col {
      text-align: center !important;
      width: 100% !important;
    }
  }
}