<!DOCTYPE html>
<html>
<head>
    <title>Oakfest</title>

    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

</head>
<body>
<nav>
    <div class="nav-bar">

    </div>
    <div class="nav-logo">
        <div class="logo"></div>
    </div>
</nav>
<div class="content">