<%= require('html-loader!./design/header.ejs') %>
<section class="compliment jumbo">

</section>
<section class="secondary">

</section>

<section class="primary">

</section>

<section class="primary center">
    <div class="image future-logo"></div>
</section>

<section class="primary center">
    <div class="image vega-logo"></div>
</section>
<%= require('html-loader!./design/footer.ejs') %>