<!DOCTYPE html>
<html>
<head>
    <title>Oakfest</title>

    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<nav id="nav">
    <div class="nav-bar">
        <ul class="left-logo">
            <li class="oak-fest"><a href="#">[oakfest]</a></li>
            <li class="treehouse"><a href="#">[treehouse banner here]</a></li>
        </ul>
        <ul class="buttons">
            <li><a href="#" class="active">Tickets</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#bands">The Bands</a></li>
            <li><a href="#venue">The Venue</a></li>
        </ul>
    </div>

    <div class="nav-logo">
        <div class="logo"></div>
    </div>
</nav>
<section class="compliment jumbo">
    <div class="yelling">
        <span class="day">Saturday</span>
        <span class="date">March 17 2018</span>
        <span class="pattys">St.Patricks Day</span>
        <span class="info">Doors 3:00pm | First Band 4:00pm | End 10:00 PM</span>
    </div>
    <div id="spotlights">
        <div class="one"></div>
        <div id="about" class="two">
            <h1>About</h1>
        </div>
    </div>
</section>

<section class="secondary about-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus urna nec aliquam sagittis. Nam sem
        elit,
        mollis non ultrices vitae, posuere ultricies diam. Etiam vitae condimentum dolor. Cras eget dolor enim. Sed
        hendrerit nunc augue, et pellentesque purus facilisis a. Praesent varius quam arcu, a vestibulum nibh
        placerat
        ac. Cras accumsan nibh non tempus mattis. Aliquam erat volutpat. Aliquam gravida leo vel justo facilisis
        finibus. Etiam scelerisque ut dolor non faucibus. Proin vel facilisis magna, eu rutrum velit.
    </p>
    <p>
        Mauris bibendum pretium velit vitae porta. Vivamus accumsan et nisl non interdum. Nunc in felis justo.
        Mauris
        sodales iaculis ligula, sed interdum magna malesuada eget. Ut molestie massa et hendrerit aliquam. Cras sit
        amet
        sodales dolor. Vivamus eu ligula ut lorem malesuada auctor. Donec blandit urna dictum ante elementum, id
        semper
        nunc efficitur. Morbi maximus lorem nisi, non tristique felis dapibus nec. Etiam vehicula tellus vel massa
        vehicula auctor. Morbi iaculis bibendum nulla ut tincidunt.
    </p>
</section>

<section id="bands" class="none center band">
    <div class="future">
        <div class="shim"></div>
    </div>
    <a class="logo future-logo" href="http://www.futurebirdsmusic.com/" title="Futurebirds"></a>
</section>

<section class="none center band">
    <div class="vega">
        <div class="shim"></div>
    </div>
    <a class="logo vega-logo" href="http://thevegabonds.com/" title="The Vegabonds"></a>
</section>

<section id="venue" class="none">
    <div id="map"></div>
</section>


<footer class="secondary">
    <div class="col one left">
        [treehouse]
    </div>
    <div class="col two center">
        [oakfest]
    </div>
    <div class="col three right">
        <h1>contact us</h1>
        <p>[contact info]</p>
        <br/>
        <a href="#" class="btn secondary active">Get Tickets</a>
    </div>
</footer>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOXDwVppT9-Emzzh3h6VCeJPtXxR181z0&callback=initMap"></script>
</body>
</html>